<div class="text-center jumbotron">
	<h1>Bienvenue !</h1>
	<h3>Ici tu peux retrouver les moussaillons !coeur!</h3><br>
	<%= link_to "Ajoute un gossip !", new_gossip_path, class: "btn btn-lg btn-primary"%>
</div>